body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:gray;
}

/* MARKETPLACE */

.marketplaceMenu,.findPeopleMenu,.chatMenu {
  background-color: lightgray;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
}

.marketplaceMenuFilters,.findPeopleMenuFilters {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 1px;
}

.marketplaceContent,.findPeopleContent,.chatContent {
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 20%;
  background-color: gray;
}

.marketplaceCreateListingLink,.becomeVerifiedSeller,.allListingsOnMarketPlace,.findPeopleCreateStatusLink {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
}

.becomeVerifiedSeller {
  cursor: pointer;
  padding-bottom: 10px;
}

/* CREATE LISTING MARKETPLACE */

.listingTextOnCreateListingPage {
  height: 100px;
  resize: none;
}

/* LOGIN */

.loginContainer {
  background-color: white;
  width: 300px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
}

.loginContainer {
  color: gray;
}

.loginData {
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid gray;
}

.loginButton {
  background-color: #04AA6D;
  width: 100px;
  margin: auto;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.registerLink {
  display: block;
  background-color: lightgray;
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* REGISTER */

.registerContainer {
  background-color: white;
  width: 300px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  color: gray;
}

.registerData {
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid gray;
}

.handleImageOnRegister,.registerButton {
  width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.imgOnRegister {
  display: block;
  width: 100px;
  margin:auto
}

.registerButton {
  background-color: #04AA6D;
}

.loginLink {
  display: block;
  background-color: lightgray;
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/*MAIN PAGE*/

.mainMenu {
  background-color: lightgray;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
}

.userDataInMainMenu,.userDataInChatMenu {
  height: 70px;
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.userAvailability {
  display: inline-block;
  padding: 10px;
  height: 50px;
  line-height: 55px; /*Line height poravna na sredino vertikalno*/
  font-size: 10px;
}

.profilePicInMainMenu,.profilePicInChatMenu {
  display: block;
  width: 50px;
  height: 50px; 
  float: left;
  padding: 10px;
  border-radius: 25%;

}

.nameInMainMenu,.nameInChatMenu {
  display: inline-block;
  padding: 10px;
  height: 50px;
  line-height: 50px; /*Line height poravna na sredino vertikalno*/
  font-size: 20px;
}

.search {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.searchBar {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border: solid lightgray;
  border-radius: 5px;
}

.searchButton {
  background-color: #04AA6D;
  color: white;
  text-align: center;
  padding: 5px 0px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
  border: solid lightgray;
  border-radius: 5px;
  font-size: smaller;
}

.linksInMainMenu {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding-top: 10px;
}

.mainMenuLink,.marketplaceMenuLink,.findPeopleMenuLink {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.logout {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

.mainContent {
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background-color: gray; 
}

a {
  color: black;
  text-decoration: none;
}

/* CREATE POST */

.createPostContainer,.createListingContainer,.createStatusContainer {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.postTextOnCreatePage,.listingTextOnCreateListingPage,.itemPriceOnCreateListingPage,.statusTextOnCreateStatusPage {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid gray;
}

.handleImageOnCreatePage,.createPostButton,.createListingButton,.handleImageOnCreateListing,.createStatusButton,.sendMessageButton {
  width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#wantPublic{
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }

.imgOnCreatePage,.imgOnCreateListing {
  display: block;
  width: 200px;
  margin:auto
}

.createPostButton,.createListingButton,.createStatusButton {
  background-color: #04AA6D;
}

/* ALL POSTS */

.post,.listing,.status {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.userData {
  height: 60px;
  margin: auto;
  overflow: hidden;
}

.name {
  display: inline-block;
  height: 16px;
  margin-top: 22px;
  margin-bottom: 22px;
  line-height: 16px; /*Line height poravna vsebino na sredino vertikalno.*/
}

.profilePic {
  display: block;
  width: 40px;
  height: 40px; 
  float: left;
  padding: 10px;
  border-radius: 25%;
}

.postText,.listingText,.listingPrice,.listingCategory,.statusText {
  padding: 10px;
}

.date{
  padding: 10px;
  padding-top: 0;
  font-size: small;
}

.postImage,.listingImage {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* PROFILE */

.userDataOnProfile {
  background-color: white;
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

.profilePicOnProfile {
  display: block;
  width: 150px;
  height: 150px; 
  float: left;
  padding: 10px;
  border-radius: 25%;
}

.nameOnProfile,.follow,.chatButtonOnProfile {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 10px;
  border-radius: 10px;
}

.follow,.chatButtonOnProfile {
  background-color: #04AA6D;
  color: white;
  float: right;
  cursor: pointer;
  margin-right: 10px;
}


/*//////////////////////////////////////////////////////////*/
/*CREATE LISTING*/
.dropdown {
  position: relative;
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 43px;
  left: 0px;
  background-color: white;
  color: gray;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;

}

.category:hover {
  background-color: lightgray;
  color: white;
}

.createListingContainer,.createStatusContainer {
  overflow: visible;
  padding: 10px;
}

/*////////////////////////////////////*/
/*MARKETPLACE*/

.chosenCategory,.notChosenCategory  {
  cursor: pointer;
  width: 90%;
  margin: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

.chosenCategory {
  cursor: pointer;
  background-color: gray;
  color: white;
}


/* SCROLLBAR */

.marketplaceContent::-webkit-scrollbar,.mainContent::-webkit-scrollbar,.renderedChat::-webkit-scrollbar {
  width: 10px;
}

.marketplaceContent::-webkit-scrollbar-track,.mainContent::-webkit-scrollbar-track,.renderedChat::-webkit-scrollbar-track {
  background: white; 
}

.marketplaceContent::-webkit-scrollbar-thumb,.mainContent::-webkit-scrollbar-thumb,.renderedChat::-webkit-scrollbar-thumb {
  background: lightgray; 
}

.marketplaceContent::-webkit-scrollbar-thumb:hover,.mainContent::-webkit-scrollbar-thumb:hover,.renderedChat::-webkit-scrollbar-thumb:hover {
  background: gray; 
}


/* CHAT */

.renderedChat {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: lightgray;
  border-radius: 5px;
  font-size: smaller;
  height: 50%;
  overflow: scroll;
  overflow-x: hidden;
}

.myMessage,.notMyMessage {
  display: inline-block;
  float:right;
  clear: right;
  background-color: white;
  line-height: 16px;
  max-width: 50%;
  padding: 10px;
  border-radius: 5px;
}

.notMyMessage {
  float: left;
  background-color: white;
}

.message {
  min-height: 36px;
  margin: 5px;
}

.messageInputArea {
  background-color: lightgray;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.messageInput {
  display: block;
  width: 90%;
  height: 100px;
  resize: none;
  margin: auto;
}

.renderedChat::-webkit-scrollbar {
  width: 10px;
}

.renderedChat::-webkit-scrollbar-track {
  background: lightgray; 
  border-radius: 0px 5px 5px 0px;
  
}

.renderedChat::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 0px 5px 5px 0px;
}

.renderedChat::-webkit-scrollbar-thumb:hover {
  background: gray; 
  border-radius: 0px 5px 5px 0px;
}
